body {
  width: 100vw;
  overflow-x: hidden;
  background: url(../assets/img/background.png), center;
  margin: 0;
}

.signup-form {
  max-width: 410px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 100px;
}

.signup-form h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"],
#loginBtn {
  width: 412px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 16px;
  /* margin-left: 35.3%; */
}

button[type="submit"]:hover {
  background-color: #1f291f;
}

#close {
  cursor: pointer;
  margin-top: -80px;
  margin-left: -10px;
  position: absolute;
  text-decoration: none;
}

#mainButton {
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 5px;
}

#account-view {
  background-color: #8ac38c;
}
.position-relative {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#invalid {
  color: red;
  font-weight: 540;
  margin-left: 60px;
  font-size: 18px;
}

#passwordError,
#nameError {
  color: red;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-style: bold;
}
#username-input {
  margin-top: 5px;
}
/*         ...          ..   */
.profile {
  background-color: aliceblue;
  /* display: flex; */
  /* display: none; */
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  width: 700px;
  height: 200px;
  margin-left: auto;
  border: 1px solid #000;
  margin-right: auto;
}
#closeBtn {
  text-decoration: none;
  cursor: pointer;
  margin-top: -150px;
  font-size: 20px;
  margin-right: 520px;
  position: absolute;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.profile-picture {
  margin-right: 20px;
}

.profile-picture img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-details h1 {
  font-size: 30px;
  margin: 0;
}

.profile-details p {
  font-size: 20px;
  margin: 5px 0;
}

.profile-details ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  gap: 70px;
  display: flex;
  margin-top: 50px;
}

.profile-details ul li {
  margin-bottom: 5px;
}

.profile-details ul li strong {
  font-weight: bold;
}

.profile-details ul li a {
  text-decoration: none;
}
